validation/
**/CMSSW*
env/
output/
plotter
AN-26-009

junk/
datacard/*
!datacard/datacard.py
!datacard/make_datacards.sh
!datacard/run.sh
!datacard/table.py

.vscode/
.DS_Store

*.png
*.log
*.pyc
*.pyo
*.swp
*.swo
*.bak
*.tmp
*.out
*.class
*.o
*.so
*.a
*.exe
*.dll
*.obj
*.~*
*.orig
*.rej
dist/
build/
.env
.env.*
*.coverage
*.egg-info/
__pycache__/
.cache/
*.ipynb_checkpoints
*.lock
*.gz
*.zip
*.tar
*.tgz
*.7z
*.rar
*.min.js
*.map
*.ipynb